歪打误撞，非自己决策的开仓——赚一笔就跑

原则：
1. 市场上的钱比你聪明的多，其追逐的热点就是正确

2. 只想我该如何进入热点，不要想着热点如何为我所处的领域所用

In [16]:
import tushare as ts

ts.set_token('409115656486e3f61481103ec280339511aee50ee9026f9b008985ea')
pro = ts.pro_api()

c:\users\administrator\appdata\local\programs\python\python36\lib\site-packages\tushare\util\upass.py:28: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return str(df.ix[0]['token'])

# 黄金和比特币趋势

## 比特币数据

In [31]:
ts.set_token("409115656486e3f61481103ec280339511aee50ee9026f9b008985ea")

pro = ts.pro_api()
df = pro.btc_pricevol(start_date='20180101', end_date='20180801')

c:\users\administrator\appdata\local\programs\python\python36\lib\site-packages\tushare\util\upass.py:28: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return str(df.ix[0]['token'])

In [32]:
df.head()

       date        price        volume
0  20180801  7579.056837  5.759918e+08
1  20180731  7915.267761  7.305237e+08
2  20180730  8128.549310  6.716885e+08
3  20180729  8193.888653  2.656748e+08
4  20180728  8168.527643  2.808106e+08

## 黄金数据

# 期货-股票联动
http://goodsfu.10jqka.com.cn

https://zhuanlan.zhihu.com/p/40802537

# 妖股反弹

# 跌停抄底

In [5]:
%%latex
$$板块涨幅=\frac{\sum_{i=1}^{n}(今日股价*流通股本-昨日股价*流通股本)}{\sum_{i=1}^{n}(昨日股价*流通股本)}$$

In [ ]:
### functions

def cal_concept_pct(constituent_stock,circulation_stock,yes_closing_price,today_closing_price):
    """
    从ConceptSummaryMongo中获取constituent_stock信息
    从StockConceptMongo中获取circulation_stock信息
    从ts.get_today_all获取昨日收盘&今日收盘价
    输入的都是np.array
    """

def cal_concept_size(constituent_stock,circulation_stock,latest_closing_price):
    """
    从ConceptSummaryMongo中获取constituent_stock信息
    从StockConceptMongo中获取circulation_stock信息
    从ts.get_today_all获取最近一个交易日收盘价
    """

In [1]:
import tushare as ts

df = ts.get_k_data("600268", "2020-03-10")

In [2]:
df

          date  open  close   high   low     volume    code
42  2020-03-10  6.31   6.51   6.63  5.86   489728.0  600268
43  2020-03-11  6.48   6.30   6.79  6.27   404675.0  600268
44  2020-03-12  6.00   5.89   6.18  5.81   311411.0  600268
45  2020-03-13  5.53   6.28   6.46  5.50   492342.0  600268
46  2020-03-16  6.30   5.70   6.35  5.68   380173.0  600268
47  2020-03-17  5.75   5.97   6.08  5.45   390793.0  600268
48  2020-03-18  6.09   5.76   6.18  5.75   346480.0  600268
49  2020-03-19  5.70   5.90   5.97  5.58   271426.0  600268
50  2020-03-20  6.01   6.06   6.14  5.80   336903.0  600268
51  2020-03-23  5.82   6.31   6.51  5.82   505496.0  600268
52  2020-03-24  6.28   6.42   6.52  6.03   434642.0  600268
53  2020-03-25  6.53   6.31   6.58  6.27   337925.0  600268
54  2020-03-26  6.24   5.87   6.25  5.85   321065.0  600268
55  2020-03-27  5.95   6.02   6.18  5.94   251049.0  600268
56  2020-03-30  5.98   6.07   6.20  5.62   260543.0  600268
57  2020-03-31  6.06   5.87   6.09  5.83   172732.0  600268
58  2020-04-01  5.83   5.73   6.02  5.69   159961.0  600268
59  2020-04-02  5.67   5.90   5.92  5.61   195689.0  600268
60  2020-04-03  5.90   6.02   6.14  5.82   260563.0  600268
61  2020-04-07  6.37   6.38   6.55  6.14   431525.0  600268
62  2020-04-08  6.41   6.40   6.58  6.26   369093.0  600268
63  2020-04-09  6.41   6.88   7.04  6.31   626298.0  600268
64  2020-04-10  6.83   6.53   7.06  6.45   664179.0  600268
65  2020-04-13  6.40   6.38   6.55  6.22   282960.0  600268
66  2020-04-14  6.46   7.02   7.02  6.34   549752.0  600268
67  2020-04-15  7.49   7.72   7.72  7.26   665389.0  600268
68  2020-04-16  7.98   8.49   8.49  7.87   609038.0  600268
69  2020-04-17  9.34   9.34   9.34  8.90   934874.0  600268
70  2020-04-20  9.60  10.27  10.27  9.33  1617938.0  600268