歪打误撞，非自己决策的开仓——赚一笔就跑

原则：
1. 市场上的钱比你聪明的多，其追逐的热点就是正确

2. 只想我该如何进入热点，不要想着热点如何为我所处的领域所用

In [16]:
import tushare as ts

ts.set_token('409115656486e3f61481103ec280339511aee50ee9026f9b008985ea')
pro = ts.pro_api()

c:\users\administrator\appdata\local\programs\python\python36\lib\site-packages\tushare\util\upass.py:28: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return str(df.ix[0]['token'])

# Q1

In [14]:
from pymongo import MongoClient

client = MongoClient()
db = client["stock"]
collection = db["jqk_concept"]

In [20]:
import tushare as ts
import pandas as pd

def get_daily_pro(trade_date):
    """
    应对旧接口get_today_all指令失效
    """
    trade_date = re.sub("-","",trade_date)
    ts.set_token('409115656486e3f61481103ec280339511aee50ee9026f9b008985ea')
    pro = ts.pro_api()
    df = pro.daily(trade_date=trade_date)
    df["code"] = df["ts_code"].str[:6]
    df["pct_change"] = df.apply(lambda x: round(x["close"] / x["pre_close"] * 100 - 100, 2), axis=1)
    df["low_pct_change"] = df.apply(lambda x: round(x["low"] / x["pre_close"] * 100 - 100, 2), axis=1)
    df["high_pct_change"] = df.apply(lambda x: round(x["high"] / x["pre_close"] * 100 - 100, 2), axis=1)
    df.drop(["change", "pct_chg", "ts_code"], axis=1, inplace=True)
    return df

In [21]:
import re

df = get_daily_pro("20200511")

In [3]:
df.head()

,trade_date,open,high,low,close,pre_close,vol,amount,code,pct_change,low_pct_change,high_pct_change
0,20200511,3.17,3.20,3.05,3.09,3.16,83283.12,25846.541,000927,-2.22,-3.48,1.27
1,20200511,4.19,4.32,4.18,4.28,4.19,146603.26,62435.999,000928,2.15,-0.24,3.10
2,20200511,6.24,6.24,6.17,6.20,6.20,9958.01,6175.554,000929,0.00,-0.48,0.65
3,20200511,7.63,7.78,7.50,7.60,7.70,281786.65,214862.873,000930,-1.30,-2.60,1.04
4,20200511,9.06,9.12,8.95,8.98,9.05,44670.97,40268.924,000931,-0.77,-1.10,0.77

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3807 entries, 0 to 3806
Data columns (total 12 columns):
trade_date         3807 non-null object
open               3807 non-null float64
high               3807 non-null float64
low                3807 non-null float64
close              3807 non-null float64
pre_close          3807 non-null float64
vol                3807 non-null float64
amount             3807 non-null float64
code               3807 non-null object
pct_change         3807 non-null float64
low_pct_change     3807 non-null float64
high_pct_change    3807 non-null float64
dtypes: float64(10), object(2)
memory usage: 357.0+ KB

In [22]:
df = df.set_index("code")

In [23]:
code_list=["000001","600003","300102"]

In [24]:
df.loc[code_list,:]

,trade_date,open,high,low,close,pre_close,vol,amount,pct_change,low_pct_change,high_pct_change
code,,,,,,,,,,,
000001,20200511,13.92,14.13,13.90,14.00,13.95,612862.29,859156.594,0.36,-0.36,1.29
600003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300102,20200511,5.23,5.43,5.23,5.43,4.94,281185.03,151006.303,9.92,5.87,9.92

# Q2 zs init_db()

In [31]:
import baostock as bs
import pandas as pd
import numpy as np

def baostock_get_history_k_data(code,start_date,end_date,frequency,adjustflag="3"):
    lg = bs.login()
    rs = bs.query_history_k_data_plus(code,"date,open,high,low,close,preclose,volume,amount,turn,tradestatus,pctChg,isST",
                                        start_date, end_date, frequency, adjustflag)
    data_list = []
    while (rs.error_code == '0') & rs.next():
        data_list.append(rs.get_row_data())
    result = pd.DataFrame(data_list, columns=rs.fields, dtype=np.float)
    result.rename(columns={"pctChg":"pct_change"},inplace=True)
    result["turn"] = result["turn"]*100
    result["amount"] = result["amount"]/100000000
    result.set_index("date",inplace=True)
    del rs.fields[0]
    decimals = pd.Series([2, 2, 2, 2, 2, 0, 0, 2, 0, 2, 0], index=rs.fields)
    result = result.round(decimals)
    return result

In [32]:
df = baostock_get_history_k_data("sz.399006",start_date='2020-05-06', end_date='2020-05-12', frequency="d")

login success!

In [33]:
df

,open,high,low,close,preclose,volume,amount,turn,tradestatus,pct_change,isST
date,,,,,,,,,,,
2020-05-06,2052.39,2111.66,2051.29,2110.27,2069.43,8.895811e+09,1375.0,929.63,1.0,1.973218,0.0
2020-05-07,2113.75,2116.23,2095.74,2106.84,2110.27,8.773069e+09,1307.0,916.80,1.0,-0.162288,0.0
2020-05-08,2117.87,2137.79,2112.89,2125.24,2106.84,8.630860e+09,1330.0,901.81,1.0,0.873416,0.0
2020-05-11,2137.98,2139.67,2088.66,2102.83,2125.24,8.815888e+09,1332.0,920.32,1.0,-1.054853,0.0
2020-05-12,2106.22,2125.32,2092.58,2124.15,2102.83,8.213301e+09,1197.0,857.41,1.0,1.014107,0.0